<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Capstone Project ejs</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <h1 class="text-center">Express Crud sederhana</h1>

    <h3 class="text-center">Input form</h3>
    <div class="center-div">
      <form method="POST" action="/submit">
        <div class="label">
          <label for="userName">Name</label>
          <input type="text" name="userName" id="inputUsernName" />
        </div>
        <div class="label">
          <label for="age">Age</label>
          <input type="text" inputmode="numeric" name="age" id="ageInput" />
        </div>
        <input type="submit" value="submit" />
      </form>
    </div>

    <table border="1" cellspacing="0" cellpadding="10" class="table-data">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(user => { %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.userName %></td>
          <td><%= user.age %></td>
          <td>
            <!-- Delete Button -->
            <form
              action="/user/delete/<%= user.id %>"
              method="POST"
              style="display: inline"
            >
              <button type="submit">Del</button>
            </form>

            <!-- Edit Button (Opens a hidden edit form) -->
            <button onclick="toggleEditForm('<%= user.id %>')">Edit</button>

            <!-- Hidden Edit Form -->
            <form
              id="edit-form-<%= user.id %>"
              action="/user/update/<%= user.id %>"
              method="POST"
              style="display: none"
            >
              <input
                type="text"
                name="userName"
                value="<%= user.userName %>"
                placeholder="username"
                required
              />
              <input
                type="text"
                inputmode="numeric"
                name="age"
                value="<%= user.age %>"
                placeholder="age"
                required
              />
              <button type="submit">Save</button>
            </form>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>

    <script src="/javascript/index.js"></script>
  </body>
</html>
